p a {  position: relative; color: #009fd3 !important;}

p a:hover {
    color: #009fd3 !important;
}

p a:before {
    content: "";
    height: 2px;
    bottom: 0;
    background-color: #009fd3;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all .3s ease-in-out 0s;
}

.post-preview>.post-meta>a:focus, .post-preview>.post-meta>a:hover
{
    color: #009fd3;
    text-decoration: underline;
}

#head-c #social, #head-c h3 {
    color: #70d8f2!important;
    font-size: 16px;
}

#head-c h1 a {
    color: #00b9e7!important;
}